.editableRow .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}

.editableCellInput {
  width: 100%;
}

.editableTd {
  height: 90px;
}

.editableCell {
  position: relative;
}

.editableCellValueWrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editableRow:hover .editableCellValueWrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

[data-theme="dark"] .editableRow:hover .editableCellValueWrap {
  border: 1px solid #434343;
}
