html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

body {
  min-height: calc(100vh - 130px);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.site-layout .site-layout-background {
  /* background: #fff; */
  position: fixed;
  z-index: 99;
  width: 100%;
  padding: 0;
}
[data-theme="dark"] .siteLayout .site-layout-background {
  background: #141414;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.generate-report {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.logo {
  float: left;
  width: 200px;
  color: #f58748;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 600;
  font-style: oblique;
  margin: 0 50px 0 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.app_spinner {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: #0000004a;
  z-index: 5;
}

.app_spinner > .ant-spin {
  position: fixed;
  top: 45vh;
  left: 45vw;
  background-color: white;
  padding: 8px 8px 4px 8px;
  border-radius: 4px;
}

.drawer .ant-drawer-content-wrapper {
  width: 300px !important;
}
.drawer .ant-drawer-header {
  border-radius: 0;
  padding: 16px;
  background-color: #001529;
  border-bottom: 1px solid #f58748;
}

.drawer .ant-drawer-close {
  color: #fff;
}

.drawer .ant-drawer-body {
  padding: 0;
  color: #fff;
  background-color: #001529;
  height: calc(100vh - 55px);
}
.drawer .ant-menu-item {
  margin: 0 !important;
}

.action-btn {
  padding: 20px 0 !important;
  text-align: right;
}

.editBtn,
.approveBtn,
.cancelBtn {
  font-size: 16px;
  border: 2px solid;
  padding: 4px;
  border-radius: 100%;
  margin-left: 4px;
  margin-bottom: 5px;
}

.editAll {
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem 0;
}

.saveAll {
  margin: 0 1rem;
}

/* .editBtn {
  margin-top: 5px;
  margin-left: 5px;
  border: 2px solid #f58748;
  border-radius: 50%;
  padding: 3px;
  font-size: 15px;
  color: #f58748;
} */

@media (min-width: 993px) {
  .drawer {
    display: none;
  }
}
